[submodule "modules/pico-onewire"]
	path = modules/pico-onewire
	url = git@github.com:adamboardman/pico-onewire.git
[submodule "modules/paho.mqtt.c"]
	path = modules/paho.mqtt.c
	url = git@github.com:eclipse/paho.mqtt.c.git
[submodule "modules/paho.mqtt.cpp"]
	path = modules/paho.mqtt.cpp
	url = git@github.com:eclipse/paho.mqtt.cpp.git
