#!/bin/bash

export WIFI_SSID=""
export WIFI_PASSWORD=""
export MQTT_BROKER_ADDRESS=""
export MQTT_BROKER_PORT=1883
export PICO_SDK_PATH="$(realpath $(dirname ${BASH_SOURCE[0]}))/modules/pico-sdk"
export DEVICE_NAME="DS18x20 Temperature Sensor"
export HA_MQTT_PREFIX="homeassistant"
export GPIO_PIN=17
